services:
  # ----------------------------------------------------
  # 1. Serviço de Banco de Dados (PostgreSQL)
  # ----------------------------------------------------
  db:
    image: postgres:alpine # Versão estável e leve
    # container_name: workout_db
    restart: always
    env_file:
      - .env # Carrega variáveis de ambiente do .env para este serviço
    environment:
      # Utiliza as variáveis definidas no arquivo .env
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    # volumes:
    #   # Persistência de dados: garante que os dados não se percam
    #   - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # ----------------------------------------------------
  # 3. Gerenciador de Banco de Dados (pgAdmin)
  # ----------------------------------------------------
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_workout
    restart: always
    env_file:
      - .env # Carrega variáveis de ambiente do .env para este serviço
    ports:
      - "8080:80" # Acessível em http://localhost:8080
    environment:
      # Credenciais para acessar a interface web do pgAdmin
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    # Configuração inicial para adicionar o servidor DB
    # volumes:
    #   - pgadmin_data:/var/lib/pgadmin
    
# # Definição dos volumes persistentes
# volumes:
#   postgres_data:
  # pgadmin_data:



# services:
#   db:
#     image: postgres:alpine
#     environment:
#       POSTGRES_PASSWORD: workout
#       POSTGRES_USER: workout
#       POSTGRES_DB: workout
#     ports:
#       - "5432:5432"
